@import "tailwindcss";

@plugin "daisyui";

html {
    scrollbar-gutter: auto !important;
}

body {
    font-family: 'Geist', sans-serif;
}

.content-auto-section {
    /* 1. The main performance booster */
    content-visibility: auto;

    /* 2. CRITICAL for smooth scrolling - sets an estimated height */
    /* Adjust '1000px' to the average height of one of your category sections */
    contain-intrinsic-size: 0 2000px; /* width height */
}

#gallery_modal_box {
    scroll-behavior: smooth;
    will-change: scroll-position;
}

